{
  "__comment__": "Remove customSyntax if you are not using styled-components",
  "extends": [
    "stylelint-config-standard-scss",
    "stylelint-config-clean-order"
  ],
  "rules": {
    "no-duplicate-selectors": true
  },
  "ignoreFiles": [
    "**/*.tsx",
    "**/*.ts",
    "**/*.mjs",
    "**/*.md",
    "LICENSE"
  ]
}
