$dark-blue: #232536;
$yellow: #ffd050;
$yellow-hover: #edc14a;
$violet: #592ea9;
$dark-gray: #4c4c4c;
$gray: #6d6e76;
$light-gray: #f4f4f4;
$lavender: #f4f0f8;
$light-yellow: #fbf6ea;
$white: #fff;
$black: #00000080;
$red: #f00;
$opacity70: 0.7;
$opacity30: 0.3;
$s192: 192px;
$s128: 128px;
$s96: 96px;
$s92: 92px;
$s80: 80px;
$s64: 64px;
$s56: 56px;
$s48: 48px;
$s36: 36px;
$s32: 32px;
$s28: 28px;
$s24: 24px;
$s20: 20px;
$s16: 16px;
$s12: 12px;
$s8: 8px;
$s4: 4px;
$s2: 2px;
$f56: 56px;
$f48: 48px;
$s40: 40px;
$f36: 36px;
$f28: 28px;
$f24: 24px;
$f20: 20px;
$f16: 16px;
$f14: 14px;
$z15: 15;
$z10: 10;
$z5: 5;
$desktop-lg: 1280px;
$desktop: 992px;
$tablet: 768px;
$phone: 576px;
