$dark-blue: #1520B9;
$blue: #2F80ED;
$brown: #7C6A46;
$violet: #A8ADFA;
$dark-gray: #454545;
$gray: #4F4F4F;
$light-gray: #9E9E9E;
$light: #FAFAFA;
$white: #fff;
$black: #00000080;
$red: #f00;
$opacity70: 0.7;
$opacity30: 0.3;
$s192: 192px;
$s128: 128px;
$s96: 96px;
$s92: 92px;
$s80: 80px;
$s64: 64px;
$s56: 56px;
$s48: 48px;
$s36: 36px;
$s32: 32px;
$s28: 28px;
$s24: 24px;
$s20: 20px;
$s16: 16px;
$s12: 12px;
$s8: 8px;
$s4: 4px;
$s2: 2px;
$f56: 56px;
$f48: 48px;
$s40: 40px;
$f36: 36px;
$f28: 28px;
$f24: 24px;
$f20: 20px;
$f16: 16px;
$f14: 14px;
$z15: 15;
$z10: 10;
$z5: 5;
$desktop-lg: 1280px;
$desktop: 992px;
$tablet: 768px;
$phone: 576px;
