.container {
  display: flex;
  flex-direction: row;
  gap: $s64;

  h1 {
    @include respond('tabletLg') {
      display: none;
    }
  }

  h5 {
    color: $red;
  }
}

.form {
  display: flex;
  flex-direction: row;
  gap: $s24;
}

.input {
  width: 100%;
  padding-right: $s192;

  &_container {
    position: relative;
    width: 100%;
    max-width: 360px;
  }
}

.submit {
  position: absolute;
  top: 5;
  right: 10;
  bottom: 5;

  width: 30%;
  height: 80%;
}
